// https://www.quackit.com/css/css_color_codes.cfm
$barbara-pink: #ef1db0;
$barbara-purple: #a50fdb;
$battleship-grey: #4b5b72;
$black: #000;
$deep-blue: #1d0ee2;
$eagles-midnight-green: #004953;
$eagles-kelly-green: #046a38;
$firetruck-red: #ce2029;
$light-green: #43fe0b;
$light-grey-blue: #d5dce8;
$mit-cabernet: #a31f34;
$navy-blue: #061a51;
$paper-white: #fefefe;
$parakeet-yellow: #f1f911;
$parchment: #f0f7c0;
$rutgers-scarlet: #c03;
$sky-blue: #4183e5;
$teal: #008080;
