body {
  background: $barbara-pink;
  display: flex;
  flex-direction: column;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: 600;
}

header {
  background: $barbara-purple;
  color: $parchment;
  font-size: 3 * $font-size;
  font-style: italic;
}

aside {
  background-color: $navy-blue;
  // Comment these out until I figure out how to do what I want.
  // display: flex;
  // flex-direction: column;
  // height: 100vh;
  // position: fixed;
  // width: 20%;
  min-height: 4 * $font-size;
}

hr {
  border-width: 4px;
}

.sum-wrapper {
  color: $navy-blue;
  display: flex;
  font-size: 2 * $font-size;
  font-weight: 600;
  justify-content: space-between;
  margin: .5 * $font-size $font-size .5 * $font-size .5 * $font-size;
  text-shadow: $parakeet-yellow 1px 1px;
}

.success,
.failure {
  color: $parchment;
  font-size: 1.2 * $font-size;
}

.hidden {
  display: none;
}
